---
interface Props {
  href: string;
  text: string;
}
const { href, text } = Astro.props;
---

<a href={href} class="link">{text}</a>

<style lang="scss">
  $color_link: #f00;
  .link {
    color: $color_link;
  }
</style>