---
import Layout from "../../layouts/Layout.astro";
import { Counter } from "../../components/react/Counter";

const title = "Astro Example";
---

<Layout title={title}>
  <main>
    <article>
      <h2>Counter Example</h2>
      <Counter client:load />
    </article>
  </main>
</Layout>
